# Commandes pour push
# git status
# git add .
# git commit -m "Votre message de commit"
# git push origin main

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Ignore virtual environment directories
venv/
venv/
env/
ENV/
.venv/

# Données / modèles lourds
occidental_chess/ai_pre_training/dataset/output_chunks
occidental_chess/ai_pre_training/dataset/twic_files
occidental_chess/ai_pre_training/dataset/pgn_files
occidental_chess/ai_pre_training/checkpoints
